#passError,#emailError{
    color: red;
}
#sgn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ecf0f1;
  
}
#name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ecf0f1;
}
.b{
    background-image: url(aa.jpg);
}
.form-label{
    font-weight: 400;
    font-size: large;
    font: bold;
   color: #95a5a6;
}
.a{
    background-image: url(ab.jpg);
}
.body{
    background-image: url(ac.jpg);
}
#log{
    width: 60px;
    display: flex;
   justify-content: center;
   align-items: center;
   
}
   

 
